{% extends 'base.html' %}

{% block content %}
    {{ block.super }}

    {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}



    <form method="post" placeholder=".form-control-lg">
        {% csrf_token %}
        <div class="alert alert-danger form-group" role="alert">
            Are you sure you want to delete "{{ object }}"?
        </div>

        <input class="btn btn-success" type="submit" value="Confirm"/>
        <a class="btn btn-outline-warning" href="{% url 'task_all' %}">cancel</a>
    </form>

{% endblock %}