{% extends 'base.html' %}

{% block content %}
   {{ block.super }}

   {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}



    <h1 class="col-md-12 text-center">Task detailed info</h1>
    <div class="col-lg-8 text-center ">
        <p class="col-lg-3 p-3 mb-2 bg-dark text-white">Task title: <span class="badge badge-light">{{ task.name }}</span></p>
        <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task description: <span class="badge badge-dark"> {{ task.description }}</span></p>
        <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task status:<span class="badge badge-dark"> {{ task.status }}</span></p>
        <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task date of update: <span class="badge badge-dark">{{ task.updated }}</span></p>
        <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task author: <span class="badge badge-dark">{{ task.author.email}}</span></p>
        {% if task.updated_by %}
             <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task who is update last: <span class="badge badge-dark">{{ task.updated_by.email }}</span></p>
        {% else %}
             <p class="col-lg-3 p-3 mb-2 bg-success text-white">Task is not updated </p>
        {% endif %}
    </div>

{% endblock content %}