{% extends 'base.html' %}
{% block content %}
    {{ block.super }}

   {% if messages %}
        <div class="message col-md-12 text-center">
            {% for message in messages %}
                <p{% if message.tag %} class="{{ message.tags }} "{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
   {% endif %}

   <div class="col-md-12">
        <form method="post">
            <h1 class="alert alert-light">Update Task</h1>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <button class="btn btn-md btn-primary btn-block col-lg-2 col-md-2" type="submit">update</button>
            </div>
        </form>
   </div>
{% endblock content %}