{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1> Oops!</h1>
                    <h2> 500 Server error</h2>
                    <div class="error-details">
                        Sorry, server error has occured!
                    </div>
                    <div class="error-actions">
                        <a href="{% url 'task_all' %}" class="btn btn-primary btn-lg"><span
                                class="glyphicon glyphicon-home"></span>
                            Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}