{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .errorlist > li {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>
<head>
    <meta charset="UTF-8">
    {% include 'cdn/bootstrap.html' %}
    <title> {% block title %} Main hello {% endblock title %}</title>
</head>

<body>
<div class="container">
    <div class="row">
        {% block content %}
            <div class="col-md-12">
                {#    navbar  start#}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand col-md-8" href="{% url 'main' %}">Judo Test Application</a>
                    <div class="col-md-4 float-right" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">{% if user.is_authenticated %} Welcome
                                {{ user.email }} {% else %} Please authorize yourself
                                <span class="sr-only"> {% endif %}</span></a>
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link .navbar" href="{% url 'logout' %}">
                                    <button class="btn btn-warning">logout</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>

        {% endblock content %}
    </div>
</div>
</body>

</html>