@import 'mixins';

.home-welcome{
  header{
    font-size:rhythm(2);
    line-height:rhythm(3);
    h2{
      text-align: center;
    }
  }
  section{
    font-size:rhythm(5);
    line-height:rhythm(5);
    p{
      text-align: center;
      color:map_get($colors, info);
    }
  }
}


