//Compass rhythm
$base-line-height: 24px !global;
$base-font-size: 22px !global;
$rhythm-unit: "rem" !global;
$rem-with-px-fallback: true !global;

//susy  grids default
$columnCountDefault: 12;
$gutters: 1/4;
$rightColumnSize: 2;
$LeftColumnSize: 2;
$CenterColumnSize: $columnCountDefault - $rightColumnSize - $LeftColumnSize;
$CenterColumnSize_1: $columnCountDefault - $rightColumnSize;
$headerHeight: 3;
$footerHeight: 3;
$w_menu: $columnCountDefault - 3;
$widthLogoContainer: 1;

//system-colors
$colors: (
        body:#ffffff,
        body_transpared:rgba(255, 255, 255, 0.7),
        menu-items:#cce5ff,
        menu-activ-item:#d4edda,
        menu-text-color:#000000,
        header:#f8f9fa,
        info:#17a2b8,
        warning:#ffc107,
        success:#28a745,
        danger:#dc3545,
        dark:#343a40,
        primary:#007bff,
        secondary:#6c757d,
        gray:#99a09b
);

