#CenterContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  background-color: map_get($colors, body);
  min-height: inherit;
  height: 90%;
  max-height: calc(100% - #{$header} - #{$footer});

}

.centr_size {
  @include span($CenterColumnSize at $rightColumnSize of $columnCountDefault);
}

.centr_size_plus_one_column {
  @include span($CenterColumnSize_1 at $columnCountDefault);
}

.centr_size_full {
  @include span($columnCountDefault of $columnCountDefault);
}
