#LeftContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  @include span($LeftColumnSize at ($CenterColumnSize - $rightColumnSize) of $columnCountDefault);
  border-right: 1px solid map_get($colors, info);
  min-height: inherit;
  //overflow: hidden;
  height: 90%;
  max-height: calc(100% - #{$header} - #{$footer});
}
