.login-form {
  position: fixed;
  display: block;
  top: -20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  width: span(4);
  height: rhythm(20);
  z-index: 9999;
  background-color: map_get($colors, body);
  @include borderRadius(5px);
  border:1px solid map_get($colors, primary);
  overflow: hidden;
  header{
    float:left;
    width:100%;
    margin-top:10px;
    h1,h2,h3,h4{
      float:left;
      text-align: center;
      text-transform: uppercase;
      min-width:90%;
      line-height: rhythm(3);
      font-weight: bold;
    }
  }
}
.login-mask{
  @extend .mask;
}

.error-container{
  height:rhythm(3);
  width:90%;
  margin:10px auto;
  background-color: map_get($colors, warning);
  @include borderRadius(5px);
  text-align: center;
  line-height: 2;
  vertical-align: center;
}