#RightContainer{
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  @include span($rightColumnSize);
  background-color: rgba(139, 0, 0, 0.33);
  min-height: inherit;
  float: right;
  height: 90%;
  max-height: calc(100% - #{$header} - #{$footer});
}
