$h: 3;
.task-container-body {
  header {
    height: rhythm($h);
    line-height: rhythm($h);
    position: relative;
    h1, h2, h3, h4 {
      font-weight: bold;
      text-align: center;
      line-height: rhythm($h);
      color: darken(map_get($colors, gray), 15%);
    }
    border-bottom: 1px solid map_get($colors, info);
    margin-bottom: rhythm(1);
  }
}

.task-container-list {
  width: span($columnCountDefault - .5);
  min-height: rhythm(2);
  li:not(.active-li) {
    border: 2px solid map_get($colors, info);
  }
  li {
    &.active-li {
      border: 2px solid map_get($colors, success);
    }
    &:hover {
      cursor: pointer;
    }
    width: 100%;
    height: rhythm(10);
    @include borderRadius(5px);
    margin: 5px 0 5px 0;
    h1, h2, h3, h4 {
      font-weight: bold;
      text-align: center;
      line-height: rhythm(1.5);
      text-transform: uppercase;
      text-overflow: ellipsis;
    overflow: hidden;
    }
    p {
      line-height: rhythm(1.4);
      vertical-align: middle;
      white-space: nowrap;
      height: rhythm(2);
      text-align: left;
    }
    div.discript-box {
      $marg: 1;
      width: span($columnCountDefault - $marg);
      padding: span($marg/4);
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      min-height: rhythm(2);
      max-height: rhythm(5);
      border-bottom: 1px solid map_get($colors, info);
      margin: 0 span($marg/4) 0 span($marg/4);
      color: map_get($colors, gray);
    }
    span {
      &.mark {
        min-width: span(3);
        max-width: span(5);
        text-align: center;
        text-overflow: ellipsis;
        display: block;
        height: rhythm(1);
        padding: 0 2px 0 2px;
        float: left;
        line-height: rhythm(1);
        margin: 2px;
        color: map_get($colors, primary);
        @include borderRadius(10px);
      }
      &.status-open {
        text-transform: uppercase;
      }
      &.done_status {
        color: map_get($colors, danger);
      }
      &.open_status {
        color: map_get($colors, success);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.icon-butt-task {
  background-color: map_get($colors, body);
  outline: none;
  margin: 5px;
  text-align: center;
}

.add-task {
  @extend .icon-butt-task;
  border: 1px solid map_get($colors, success);
  color: map_get($colors, success);
  &:hover {
    border-color: darken(map_get($colors, success), 10%);
  }
}

.change-task {
  @extend .icon-butt-task;
  color: map_get($colors, warning);
  border: 1px solid map_get($colors, warning);
  &:hover {
    border-color: darken(map_get($colors, warning), 10%);
  }
}

.dell-task {
  @extend .icon-butt-task;
  color: map_get($colors, danger);
  border: 1px solid map_get($colors, danger);
  &:hover {
    border-color: darken(map_get($colors, danger), 10%);
  }
}

.task-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 85%;
}

.task-info-container {
  $marg: 0.2;
  $padd: 0.2;
  width: span($columnCountDefault - ($marg * 2) - ($padd * 2));
  padding: span($marg);
  margin: span($marg);
  position: relative;
  height: span($columnCountDefault - ($marg * 4) - ($padd * 2));
  form{
    position: relative;
    width:span($columnCountDefault/2 - $marg  - $padd);
  }
  header {
    width: span($columnCountDefault);
    height: rhythm(2);
    border-bottom: 1px solid map_get($colors, info);
  }
  section {
    $td1: 3;
    min-height: rhythm(5);
    margin-top: rhythm(1);
    table {
      width: span($columnCountDefault);
      table-layout: fixed;
      td:nth-child(1) {
        width: span($td1);
        color: darken(map_get($colors, gray), 15%);
      }
      td:nth-child(2) {
        width: span($columnCountDefault - $td1);
        color: map_get($colors, menu-text-color);
      }
      td {
        line-height: rhythm(2);
        textarea {
          width: span($columnCountDefault);
          height: rhythm(15);
          resize: none;
        }
        select {
          width: 100%;
          outline: none;
          @include borderRadius(10px);
          background-color: map_get($colors, header);
          line-height: rhythm(4);
        }
      }
    }
  }

  h2 {
    font-weight: bold;
    line-height: rhythm(1.5);
    color: darken(map_get($colors, gray), 25%);
    text-transform: uppercase;
    margin-top: rhythm(1);
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.task-success {
  float: left;
  width: span($columnCountDefault/3);
}

.mask-loader {
  @extend .centr-abs;
  width: 100%;
  height: 100%;
  z-index: 99999;
  img {
    @extend .centr-abs;
    width:rhythm(10);
    height:rhythm(12);
  }
}