@charset "UTF-8";
@import "../../../sass/myMixins/mixins";
//@import "../../../sass/configuration/config";
@import "../../../sass/configuration/_library/animate";
@import "./CenterColumn";
@import "./LeftColumn";
@import "./RightColumn";
@import "./footer";
@import "./header";
@import "./user";
@import "./loginForm";
@import "./buttons";
@import "./inputs";
@import "./animate";
@import "./loader";
@import "./tasks";

#bodyContainer {
  $header: rhythm($headerHeight);
  $footer: rhythm($footerHeight);
  min-height: calc(100% - #{$header} - #{$footer});
  height: inherit;
  .vert_size_full {
    min-height: calc(100%);
  }
  .vert_size_plus_one_row_footer {
    min-height: calc(100% - #{$footer});
  }
  .vert_size_plus_one_row_header {
    min-height: calc(100% - #{$header});
  }
}

.large {
  font-size: 50px;
  line-height: 50px;
}

.medium {
  font-size: 35px;
  padding: 0 5px;
}

.small {
  font-size: 20px;
  padding: 0 5px;
}

.icon {
  transition: 0.5s all ease;
  float: left;
  font-weight: bold;
  line-height: rhythm($headerHeight - 1);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.mask {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.centr-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.right-top-abs {
  position: absolute;
  top: 10px;
  right: 10px;
}

.abs-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
